MQTT_DHT11_Relay_PHR_VR_LED/Linkit7697_Node_RED_flows.json
[{"id":"3b43b2c66d687737","type":"tab","label":"Linkit7697","disabled":false,"info":""},{"id":"e0deef3392500416","type":"mqtt in","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/temp","qos":"2","datatype":"auto","broker":"8e007e313662de77","nl":false,"rap":true,"rh":0,"x":220,"y":180,"wires":[["ddcd88121a102092"]]},{"id":"3027a84391d45884","type":"mqtt out","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/relay","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8e007e313662de77","x":540,"y":440,"wires":[]},{"id":"ddcd88121a102092","type":"ui_gauge","z":"3b43b2c66d687737","name":"溫度","group":"15457d0318db069c","order":1,"width":9,"height":9,"gtype":"gage","title":"DHT11溫度感測值","label":"。C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":180,"wires":[]},{"id":"bce00d464acd2385","type":"mqtt in","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/humid","qos":"2","datatype":"auto","broker":"8e007e313662de77","nl":false,"rap":true,"rh":0,"x":220,"y":240,"wires":[["faf2e939f7f924e2"]]},{"id":"faf2e939f7f924e2","type":"ui_gauge","z":"3b43b2c66d687737","name":"溼度","group":"15457d0318db069c","order":3,"width":9,"height":9,"gtype":"wave","title":"DHT11溼度感測值","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":240,"wires":[]},{"id":"7cba339827acc25a","type":"ui_switch","z":"3b43b2c66d687737","name":"","label":"Relay繼電器","tooltip":"","group":"35155d6c5f9fafe2","order":1,"width":9,"height":3,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":210,"y":440,"wires":[["3027a84391d45884"]]},{"id":"fe05fded3e34d44c","type":"ui_slider","z":"3b43b2c66d687737","name":"","label":"紅色LED","tooltip":"","group":"35155d6c5f9fafe2","order":2,"width":9,"height":4,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":200,"y":540,"wires":[["6be0cd6ebdfcf94e"]]},{"id":"6be0cd6ebdfcf94e","type":"mqtt out","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/red_led","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8e007e313662de77","x":550,"y":540,"wires":[]},{"id":"a35aec9bcbcd688a","type":"ui_slider","z":"3b43b2c66d687737","name":"","label":"黃色LED","tooltip":"","group":"35155d6c5f9fafe2","order":3,"width":9,"height":4,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":200,"y":620,"wires":[["589732b990dd71d3"]]},{"id":"589732b990dd71d3","type":"mqtt out","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/yellow_led","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8e007e313662de77","x":560,"y":620,"wires":[]},{"id":"e34d36cc9cd287e6","type":"ui_slider","z":"3b43b2c66d687737","name":"","label":"綠色LED","tooltip":"","group":"35155d6c5f9fafe2","order":4,"width":9,"height":4,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":200,"y":700,"wires":[["ef5e912e6bcdf032"]]},{"id":"ef5e912e6bcdf032","type":"mqtt out","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/green_led","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8e007e313662de77","x":560,"y":700,"wires":[]},{"id":"580a69c072cf4a6c","type":"mqtt in","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/phr","qos":"2","datatype":"auto","broker":"8e007e313662de77","nl":false,"rap":true,"rh":0,"x":210,"y":320,"wires":[["04082bc6262d9db4"]]},{"id":"23444ef36d69c424","type":"mqtt in","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/vr","qos":"2","datatype":"auto","broker":"8e007e313662de77","nl":false,"rap":true,"rh":0,"x":210,"y":380,"wires":[["2dd1fc4bad530ff9"]]},{"id":"2dd1fc4bad530ff9","type":"ui_gauge","z":"3b43b2c66d687737","name":"可變電阻感測值","group":"15457d0318db069c","order":4,"width":9,"height":9,"gtype":"donut","title":"VR可變電阻感測值","label":"","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":380,"wires":[]},{"id":"04082bc6262d9db4","type":"ui_chart","z":"3b43b2c66d687737","name":"光感測值","group":"15457d0318db069c","order":2,"width":9,"height":9,"label":"PHR光感測值","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"4095","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":500,"y":320,"wires":[[]]},{"id":"c6abac9f03345fe9","type":"ui_template","z":"3b43b2c66d687737","group":"15457d0318db069c","name":"背景圖","order":5,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://www.nqu.edu.tw/upload/cht/album/d0b357eb9b3dacce45a907c4dc68342e.jpg\");\n        background-size: 100% 100%;\n    }\n    \n    //body.nr-dashboard-theme md-content md-card {\n    //    background: rgba(1,200,1,0.1);\n    //}\n    \n   \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":120,"wires":[[]]},{"id":"6c6da940a05416e6","type":"ui_microphone","z":"3b43b2c66d687737","name":"語音辦識","group":"35155d6c5f9fafe2","order":5,"width":9,"height":2,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"recog","interimResults":false,"x":200,"y":820,"wires":[["1ac2d5a1c43a34de"]]},{"id":"1ac2d5a1c43a34de","type":"delay","z":"3b43b2c66d687737","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":410,"y":820,"wires":[["04c33adc262b5cad","b988f325a06a86ed","79bf5891b4b25ae4"]]},{"id":"04c33adc262b5cad","type":"ui_text","z":"3b43b2c66d687737","group":"35155d6c5f9fafe2","order":6,"width":0,"height":0,"name":"","label":"text→","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":760,"wires":[]},{"id":"b988f325a06a86ed","type":"function","z":"3b43b2c66d687737","name":"","func":"msg.payload = msg.payload + \"執行完成\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":820,"wires":[["93e90f464a815906"]]},{"id":"93e90f464a815906","type":"ui_audio","z":"3b43b2c66d687737","name":"TTS","group":"35155d6c5f9fafe2","voice":"Microsoft Zhiwei - Chinese (Traditional, Taiwan)","always":"","x":810,"y":820,"wires":[]},{"id":"79bf5891b4b25ae4","type":"function","z":"3b43b2c66d687737","name":"打開開關","func":"if(msg.payload == \"打開開關\")\n   msg.payload = \"1\";\nif(msg.payload == \"關閉開關\")\n   msg.payload = \"0\";   \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":880,"wires":[["43c35bb8af6bdee8"]]},{"id":"43c35bb8af6bdee8","type":"mqtt out","z":"3b43b2c66d687737","name":"","topic":"ccwu0918/relay","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8e007e313662de77","x":840,"y":880,"wires":[]},{"id":"8e007e313662de77","type":"mqtt-broker","name":"EMQX","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"15457d0318db069c","type":"ui_group","name":"Linkit7697感測區","tab":"8c6107292f218688","order":1,"disp":true,"width":"18","collapse":false},{"id":"35155d6c5f9fafe2","type":"ui_group","name":"Linkit7697控制區","tab":"8c6107292f218688","order":2,"disp":true,"width":"9","collapse":false},{"id":"8c6107292f218688","type":"ui_tab","name":"Linkit7697","icon":"dashboard","disabled":false,"hidden":false}]