NBIOT_PM25/PM2.5.json
[{"id":"f80d4acc.f82918","type":"tab","label":"PMS5003T","disabled":false,"info":""},{"id":"de9912dd.d642a","type":"mqtt out","z":"f80d4acc.f82918","name":"","topic":"ccwu0918/STATE","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"13dac01b.7793","x":430,"y":60,"wires":[]},{"id":"fe433055.34d68","type":"debug","z":"f80d4acc.f82918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":140,"wires":[]},{"id":"c8daa416.283c68","type":"mqtt in","z":"f80d4acc.f82918","name":"","topic":"ccwu0918/PMS5003T","qos":"2","datatype":"auto","broker":"13dac01b.7793","nl":false,"rap":false,"x":160,"y":140,"wires":[["181e9c51.cde5f4","8f1af5d.3e51908"]]},{"id":"d66ec186.60c18","type":"function","z":"f80d4acc.f82918","name":"DeviceName","func":"msg.payload=msg.payload.Device;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":240,"wires":[["4d87241c.4d1c0c"]]},{"id":"be33207a.f6141","type":"function","z":"f80d4acc.f82918","name":"SensorType","func":"msg.payload=msg.payload.Sensortype;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["3d227ff3.5ae7a"]]},{"id":"4df62dd2.bcc864","type":"function","z":"f80d4acc.f82918","name":"Temperature","func":"msg.payload=(parseFloat(msg.payload.Temperature));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":340,"wires":[["8e757fc0.4410b"]]},{"id":"613b5969.a77568","type":"function","z":"f80d4acc.f82918","name":"Humidity","func":"msg.payload=(parseFloat(msg.payload.Humidity));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["75954995.241ba8"]]},{"id":"4d87241c.4d1c0c","type":"ui_text","z":"f80d4acc.f82918","group":"4ed8c1f0.cab97","order":1,"width":0,"height":0,"name":"","label":"裝置名稱","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":240,"wires":[]},{"id":"3d227ff3.5ae7a","type":"ui_text","z":"f80d4acc.f82918","group":"4ed8c1f0.cab97","order":2,"width":0,"height":0,"name":"","label":"感測器型號","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":280,"wires":[]},{"id":"d4dbe8b3.86e238","type":"ui_text","z":"f80d4acc.f82918","group":"4ed8c1f0.cab97","order":3,"width":0,"height":0,"name":"","label":"時間","format":"{{msg.payload}}","layout":"row-left","x":990,"y":200,"wires":[]},{"id":"aa003295.235dd","type":"function","z":"f80d4acc.f82918","name":"量測時間 ","func":"var date = new Date();\nvar h = date.getHours();\nvar m = date.getMinutes();\nvar s = date.getSeconds();\n\nif(h<10){\n    h = '0'+h;\n}\nif(m<10){\n    m = '0' + m;\n}\nif(s<10){\n    s = '0' + s;\n}\nmsg.payload = h + ':' + m + ':' + s + '\\n'; \n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["d4dbe8b3.86e238"]]},{"id":"d092e0cf.77eaf","type":"inject","z":"f80d4acc.f82918","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["de9912dd.d642a"]]},{"id":"85d53c80.f04d6","type":"function","z":"f80d4acc.f82918","name":"PM1.0 濃度（CF=1，標準顆粒物）","func":"msg.payload=msg.payload.Standard_Particles[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":440,"wires":[["1090d75a.c3bd09"]]},{"id":"bd2b4cc1.01f15","type":"function","z":"f80d4acc.f82918","name":"PM2.5 濃度（CF=1，標準顆粒物）","func":"msg.payload=msg.payload.Standard_Particles[1];\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["c211f2dc.8bb38"]]},{"id":"42c1b77c.4dd398","type":"function","z":"f80d4acc.f82918","name":"PM10 濃度（CF=1，標準顆粒物）","func":"msg.payload=msg.payload.Standard_Particles[2];\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":520,"wires":[["756e6d49.7e9124"]]},{"id":"8a23055d.86ced8","type":"function","z":"f80d4acc.f82918","name":"PM1.0 濃度（大氣環境下）","func":"msg.payload=msg.payload.Atmospheric_Environment[0];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":580,"wires":[["809b10d2.bcb08"]]},{"id":"bc2ab635.accfb8","type":"function","z":"f80d4acc.f82918","name":"PM2.5 濃度（大氣環境下）","func":"msg.payload=msg.payload.Atmospheric_Environment[1];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":620,"wires":[["1919ee2a.708482"]]},{"id":"b0bb85ce.7e2e38","type":"function","z":"f80d4acc.f82918","name":"PM10 濃度（大氣環境下）","func":"msg.payload=msg.payload.Atmospheric_Environment[2];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":660,"wires":[["bd3b6f6a.9da4d"]]},{"id":"b3ce4367.4987d","type":"function","z":"f80d4acc.f82918","name":"0.1升空氣中直徑在0.3um以上顆粒物個數","func":"msg.payload=msg.payload.Particles_Number[0];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":720,"wires":[["70c814cb.3e620c"]]},{"id":"521df33e.17bbdc","type":"function","z":"f80d4acc.f82918","name":"0.1升空氣中直徑在0.5um以上顆粒物個數","func":"msg.payload=msg.payload.Particles_Number[1];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":760,"wires":[["3dca44eb.7cc80c"]]},{"id":"37009786.a83a48","type":"function","z":"f80d4acc.f82918","name":"0.1升空氣中直徑在1.0um以上顆粒物個數","func":"msg.payload=msg.payload.Particles_Number[2];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":800,"wires":[["dba718ba.2a6a68"]]},{"id":"4b3233cf.18d6bc","type":"function","z":"f80d4acc.f82918","name":"0.1 升空氣中直徑在2.5um 以上顆粒物個數","func":"msg.payload=msg.payload.Particles_Number[3];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":840,"wires":[["39c277524fcf2725"]]},{"id":"809b10d2.bcb08","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"b525337c.e840d","order":1,"width":0,"height":0,"label":"PM1.0 濃度（大氣環境下）","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7700","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1060,"y":580,"wires":[[]]},{"id":"1919ee2a.708482","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"b525337c.e840d","order":2,"width":0,"height":0,"label":"PM2.5 濃度（大氣環境下）","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7700","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1060,"y":620,"wires":[[]]},{"id":"bd3b6f6a.9da4d","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"b525337c.e840d","order":3,"width":0,"height":0,"label":"PM10 濃度（大氣環境下）","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7700","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1060,"y":660,"wires":[[]]},{"id":"1090d75a.c3bd09","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"5eaa093d.e49fe8","order":1,"width":0,"height":0,"label":"PM1.0 濃度（CF=1，標準顆粒物）","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1c77b2","#aec7e8","#ff7700","#2ca02c","#98df8a","#d62728","#ff9896","#752eb8","#c5b0d5"],"outputs":1,"x":1080,"y":440,"wires":[[]]},{"id":"c211f2dc.8bb38","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"5eaa093d.e49fe8","order":2,"width":0,"height":0,"label":"PM2.5 濃度（CF=1，標準顆粒物）","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1c77b2","#aec7e8","#ff7700","#2ca02c","#98df8a","#d62728","#ff9896","#752eb8","#c5b0d5"],"outputs":1,"x":1080,"y":480,"wires":[[]]},{"id":"756e6d49.7e9124","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"5eaa093d.e49fe8","order":3,"width":0,"height":0,"label":"PM10 濃度（CF=1，標準顆粒物）","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1c77b2","#aec7e8","#ff7700","#2ca02c","#98df8a","#d62728","#ff9896","#752eb8","#c5b0d5"],"outputs":1,"x":1080,"y":520,"wires":[[]]},{"id":"8e757fc0.4410b","type":"ui_gauge","z":"f80d4acc.f82918","name":"","group":"76568f5e.f8c6d","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"℃","format":"{{value}}","min":0,"max":"99","colors":["#a7dffb","#50dc8d","#ea3e3e"],"seg1":"23","seg2":"30","x":990,"y":340,"wires":[]},{"id":"75954995.241ba8","type":"ui_gauge","z":"f80d4acc.f82918","name":"","group":"76568f5e.f8c6d","order":2,"width":0,"height":0,"gtype":"gage","title":"濕度","label":"%","format":"{{value}}","min":0,"max":"99","colors":["#a7dffb","#50dc8d","#ea3e3e"],"seg1":"45","seg2":"65","x":990,"y":380,"wires":[]},{"id":"70c814cb.3e620c","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"a6b03e0f.bf66b","order":1,"width":0,"height":0,"label":"0.1升空氣中>Φ0.3um顆粒物個數","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1080,"y":720,"wires":[[]]},{"id":"3dca44eb.7cc80c","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"a6b03e0f.bf66b","order":2,"width":0,"height":0,"label":"0.1升空氣中>Φ0.5um顆粒物個數","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1080,"y":760,"wires":[[]]},{"id":"dba718ba.2a6a68","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"a6b03e0f.bf66b","order":3,"width":0,"height":0,"label":"0.1升空氣中>Φ1.0um顆粒物個數","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1080,"y":800,"wires":[[]]},{"id":"e888c5f0.7643a8","type":"debug","z":"f80d4acc.f82918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1140,"wires":[]},{"id":"f0519a02.413828","type":"inject","z":"f80d4acc.f82918","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1100,"wires":[["f8ea0c66.361e28"]]},{"id":"ced73bdc.b6e8d","type":"function","z":"f80d4acc.f82918","name":"ID","func":"msg.payload=msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1140,"wires":[["e888c5f0.7643a8"]]},{"id":"a1be94ee.c006a8","type":"ui_template","z":"f80d4acc.f82918","group":"4ed8c1f0.cab97","name":"","order":3,"width":"6","height":"6","format":"<div id=\"openweathermap-widget-15\"></div>\n<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid: '6685846',appid: '26596338acf7561c39a89d41825cc0e8',units: 'metric',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = \"utf-8\";script.src = \"//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js\";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>\n\n<style>\n    body {\n        background-image: url(\"https://www.nqu.edu.tw/upload/cht/album/d0b357eb9b3dacce45a907c4dc68342e.jpg\");\n        background-size: 100% 100%;\n    }\n    \n    //body.nr-dashboard-theme md-content md-card {\n    //    background: rgba(1,200,1,0.1);\n    //}\n    \n   \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":120,"y":300,"wires":[[]]},{"id":"ab6acfb6.16c628","type":"comment","z":"f80d4acc.f82918","name":"https://openweathermap.org/widgets-constructor","info":"https://openweathermap.org/widgets-constructor","x":240,"y":260,"wires":[]},{"id":"1ea9acc7.6e75d3","type":"debug","z":"f80d4acc.f82918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1000,"wires":[]},{"id":"730491fd.41db6","type":"inject","z":"f80d4acc.f82918","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":960,"wires":[["2dfc3d93.0f9092"]]},{"id":"2dfc3d93.0f9092","type":"http request","z":"f80d4acc.f82918","name":"AQI.Json","method":"GET","ret":"txt","paytoqs":false,"url":"http://opendata2.epa.gov.tw/AQI.json","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":960,"wires":[["3bdf93c.9840c6c","5decb25e.a63b5c"]]},{"id":"3bdf93c.9840c6c","type":"json","z":"f80d4acc.f82918","name":"","property":"payload","action":"","pretty":true,"x":430,"y":1000,"wires":[["1ea9acc7.6e75d3"]]},{"id":"e82107fe.043e88","type":"comment","z":"f80d4acc.f82918","name":"http://opendata2.epa.gov.tw/AQI.json","info":"","x":180,"y":920,"wires":[]},{"id":"d7475f40.f8a15","type":"comment","z":"f80d4acc.f82918","name":"https://openweathermap.org/widgets-constructor","info":"https://openweathermap.org/widgets-constructor","x":220,"y":1060,"wires":[]},{"id":"5decb25e.a63b5c","type":"debug","z":"f80d4acc.f82918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":960,"wires":[]},{"id":"93a72780.088a08","type":"debug","z":"f80d4acc.f82918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1098,"wires":[]},{"id":"164e766f.3c866a","type":"function","z":"f80d4acc.f82918","name":"Weather","func":"msg.payload=msg.payload.weather;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1180,"wires":[["5d54fbef.f629a4"]]},{"id":"7ae57bc8.aeccd4","type":"function","z":"f80d4acc.f82918","name":"Detail","func":"msg.payload=msg.payload.detail;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1220,"wires":[["7c73008e.1c7c1"]]},{"id":"ea80a764.02da58","type":"function","z":"f80d4acc.f82918","name":"Humidity","func":"msg.payload=msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1260,"wires":[["bac9c360.f7326"]]},{"id":"bcfa52f0.169ef","type":"function","z":"f80d4acc.f82918","name":"Location","func":"msg.payload=msg.payload.location;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1300,"wires":[["23cf35e0.a5811a"]]},{"id":"69a91280.3df0ac","type":"function","z":"f80d4acc.f82918","name":"Tempc","func":"msg.payload=msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1340,"wires":[["5a5bc787.609f98"]]},{"id":"5d54fbef.f629a4","type":"debug","z":"f80d4acc.f82918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1180,"wires":[]},{"id":"7c73008e.1c7c1","type":"debug","z":"f80d4acc.f82918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1220,"wires":[]},{"id":"bac9c360.f7326","type":"debug","z":"f80d4acc.f82918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1260,"wires":[]},{"id":"23cf35e0.a5811a","type":"debug","z":"f80d4acc.f82918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1300,"wires":[]},{"id":"5a5bc787.609f98","type":"debug","z":"f80d4acc.f82918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":1340,"wires":[]},{"id":"6b62d1b4.4b965","type":"ui_slider","z":"f80d4acc.f82918","name":"","label":"slider","tooltip":"","group":"3a72a6dc.4540ba","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":130,"y":1330,"wires":[[]]},{"id":"181e9c51.cde5f4","type":"debug","z":"f80d4acc.f82918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":220,"wires":[]},{"id":"8f1af5d.3e51908","type":"function","z":"f80d4acc.f82918","name":"","func":"msg.payload= JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["fe433055.34d68","aa003295.235dd","d66ec186.60c18","be33207a.f6141","4df62dd2.bcc864","613b5969.a77568","bc2ab635.accfb8","b0bb85ce.7e2e38","8a23055d.86ced8","85d53c80.f04d6","bd2b4cc1.01f15","42c1b77c.4dd398","b3ce4367.4987d","521df33e.17bbdc","37009786.a83a48","4b3233cf.18d6bc"]]},{"id":"f8ea0c66.361e28","type":"openweathermap","z":"f80d4acc.f82918","name":"","wtype":"current","lon":"","lat":"","city":"Jincheng","country":"CN","language":"zh_tw","x":280,"y":1100,"wires":[["ced73bdc.b6e8d","93a72780.088a08","164e766f.3c866a","7ae57bc8.aeccd4","ea80a764.02da58","bcfa52f0.169ef","69a91280.3df0ac"]]},{"id":"39c277524fcf2725","type":"ui_chart","z":"f80d4acc.f82918","name":"","group":"a6b03e0f.bf66b","order":3,"width":0,"height":0,"label":"0.1升空氣中>Φ2.5um 顆粒物個數","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1080,"y":840,"wires":[[]]},{"id":"13dac01b.7793","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ed8c1f0.cab97","type":"ui_group","name":"裝置資訊","tab":"94d871f5.98ebe","order":1,"disp":true,"width":"6","collapse":false},{"id":"b525337c.e840d","type":"ui_group","name":"Atmospheric Environment","tab":"94d871f5.98ebe","order":4,"disp":true,"width":6,"collapse":false},{"id":"5eaa093d.e49fe8","type":"ui_group","name":"Standard Particles, CF=1","tab":"94d871f5.98ebe","order":3,"disp":true,"width":7,"collapse":false},{"id":"76568f5e.f8c6d","type":"ui_group","name":"基礎環境","tab":"94d871f5.98ebe","order":2,"disp":true,"width":7,"collapse":false},{"id":"a6b03e0f.bf66b","type":"ui_group","name":"Particles Number","tab":"94d871f5.98ebe","order":5,"disp":true,"width":6,"collapse":false},{"id":"3a72a6dc.4540ba","type":"ui_group","name":"反向控制區","tab":"94d871f5.98ebe","order":6,"disp":true,"width":"6","collapse":false},{"id":"94d871f5.98ebe","type":"ui_tab","name":"太陽能供電 IOT PM2.5","icon":"dashboard","order":5,"disabled":false,"hidden":false}]