NBIOT_PM25/Taiwan_AQI_Data.json
[{"id":"84b38e7c.e0573","type":"tab","label":"AQI全區地圖顯示","disabled":false,"info":""},{"id":"ec59b076.d8389","type":"ui_template","z":"84b38e7c.e0573","group":"d7d53078.9580c","name":"Tab Stylesheet","order":56,"width":0,"height":0,"format":"<style>\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(0, 0, 0);\n  --color-widget-border: rgb(84, 78, 78);\n  \n}\n\nbody {\n  background-image: url(https://od.lk/s/MTVfMjY2MTY1ODFf/Taiwan-1.jpg);\n  background-repeat: no-repeat;\n  background-size: contain;   \n}\n\n\n#Taiwan_AQI_Data_Search {\n  background: transparent;\n  border: transparent; \n}\n\nbody.nr-dashboard-theme md-content md-card {\n    text-shadow: 4px 2px 4px #00000045;\n    border-radius: 32px;\n    box-shadow: 0 -1px 5px 1px #00000045;    \n    border: 1px solid var(--color-widget-border);    \n}\n\nbody.nr-dashboard-theme md-content md-card md-select-value{\n    background-color: #33333300;    \n    color: #000000;    \n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":400,"y":360,"wires":[[]]},{"id":"7af01bb.202eae4","type":"ui_button","z":"84b38e7c.e0573","name":"","group":"d7d53078.9580c","order":11,"width":2,"height":2,"passthru":false,"label":"全區狀態查詢","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":420,"y":300,"wires":[["34dd6277.3605ae"]]},{"id":"93f5b9f8.2efd18","type":"inject","z":"84b38e7c.e0573","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":240,"wires":[["34dd6277.3605ae"]]},{"id":"34dd6277.3605ae","type":"http request","z":"84b38e7c.e0573","name":"air request","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://opendata2.epa.gov.tw/AQI.json","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":240,"wires":[["e6bbaa83.3f8988"]]},{"id":"e6bbaa83.3f8988","type":"json","z":"84b38e7c.e0573","name":"json","property":"payload","action":"","pretty":true,"x":730,"y":240,"wires":[["f9c3f857.50ef58","6ec34ce4.076014","4cc1e239.8365bc","57fd5e34.1eba3","c3b0a5d9.e93f88","b47ee6f5.3d1b98","b070fcc1.2ed23","1622fa9e.6969a5","bef4bcc.840d94","b99d79a9.196dd8","30755a8.40cafa6","1a540b8a.738c64","62236a.966a6c98","ee4e6696.6c5c78","c28f37ce.cc6dd8","9b2bb87f.30a6e8","73266419.93ad0c","b1369ce1.25f9c","182af80d.e8f698","f9f38df7.4edb8"]]},{"id":"f9c3f857.50ef58","type":"function","z":"84b38e7c.e0573","name":"台北","func":"var aqi = msg.payload[10].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":200,"wires":[["3e6a9553.966a5a"]]},{"id":"6ec34ce4.076014","type":"debug","z":"84b38e7c.e0573","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":300,"wires":[]},{"id":"3e6a9553.966a5a","type":"ui_led","z":"84b38e7c.e0573","order":9,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"台北","x":1530,"y":200,"wires":[]},{"id":"4cc1e239.8365bc","type":"function","z":"84b38e7c.e0573","name":"基隆","func":"var aqi = msg.payload[0].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":240,"wires":[["287c0e1.5695cf2"]]},{"id":"287c0e1.5695cf2","type":"ui_led","z":"84b38e7c.e0573","order":6,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"基隆","x":1530,"y":240,"wires":[]},{"id":"57fd5e34.1eba3","type":"function","z":"84b38e7c.e0573","name":"桃園","func":"var aqi = msg.payload[17].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":280,"wires":[["789b945c.49a4ac"]]},{"id":"789b945c.49a4ac","type":"ui_led","z":"84b38e7c.e0573","order":4,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"桃園","x":1530,"y":280,"wires":[]},{"id":"c3b0a5d9.e93f88","type":"function","z":"84b38e7c.e0573","name":"新竹","func":"var aqi = msg.payload[23].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":320,"wires":[["db6e96e.2d53a68"]]},{"id":"db6e96e.2d53a68","type":"ui_led","z":"84b38e7c.e0573","order":13,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"新竹","x":1530,"y":320,"wires":[]},{"id":"b47ee6f5.3d1b98","type":"function","z":"84b38e7c.e0573","name":"苗栗","func":"var aqi = msg.payload[25].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":360,"wires":[["6461d3bb.ee9ffc"]]},{"id":"6461d3bb.ee9ffc","type":"ui_led","z":"84b38e7c.e0573","order":21,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"苗栗","x":1530,"y":360,"wires":[]},{"id":"b070fcc1.2ed23","type":"function","z":"84b38e7c.e0573","name":"台中","func":"var aqi = msg.payload[27].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":400,"wires":[["e8edec7a.10645"]]},{"id":"e8edec7a.10645","type":"ui_led","z":"84b38e7c.e0573","order":26,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"台中","x":1530,"y":400,"wires":[]},{"id":"1622fa9e.6969a5","type":"function","z":"84b38e7c.e0573","name":"彰化","func":"var aqi = msg.payload[32].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":440,"wires":[["f80a380d.9298d8"]]},{"id":"f80a380d.9298d8","type":"ui_led","z":"84b38e7c.e0573","order":25,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"彰化","x":1530,"y":440,"wires":[]},{"id":"bef4bcc.840d94","type":"function","z":"84b38e7c.e0573","name":"南投","func":"var aqi = msg.payload[35].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":480,"wires":[["661b812c.96fab"]]},{"id":"661b812c.96fab","type":"ui_led","z":"84b38e7c.e0573","order":33,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"南投","x":1530,"y":480,"wires":[]},{"id":"b99d79a9.196dd8","type":"function","z":"84b38e7c.e0573","name":"雲林","func":"var aqi = msg.payload[40].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":520,"wires":[["693bad6e.113854"]]},{"id":"693bad6e.113854","type":"ui_led","z":"84b38e7c.e0573","order":31,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"雲林","x":1530,"y":520,"wires":[]},{"id":"30755a8.40cafa6","type":"function","z":"84b38e7c.e0573","name":"嘉義","func":"var aqi = msg.payload[41].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":560,"wires":[["dd95c16f.7483b"]]},{"id":"dd95c16f.7483b","type":"ui_led","z":"84b38e7c.e0573","order":40,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"嘉義","x":1530,"y":560,"wires":[]},{"id":"1a540b8a.738c64","type":"function","z":"84b38e7c.e0573","name":"台南","func":"var aqi = msg.payload[45].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":600,"wires":[["aefd14d2.ca7e88"]]},{"id":"aefd14d2.ca7e88","type":"ui_led","z":"84b38e7c.e0573","order":44,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"台南","x":1530,"y":600,"wires":[]},{"id":"62236a.966a6c98","type":"function","z":"84b38e7c.e0573","name":"高雄","func":"var aqi = msg.payload[53].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":640,"wires":[["a5014217.97448"]]},{"id":"a5014217.97448","type":"ui_led","z":"84b38e7c.e0573","order":47,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"高雄","x":1530,"y":640,"wires":[]},{"id":"ee4e6696.6c5c78","type":"function","z":"84b38e7c.e0573","name":"屏東","func":"var aqi = msg.payload[59].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":680,"wires":[["cb863d01.c6f1f"]]},{"id":"cb863d01.c6f1f","type":"ui_led","z":"84b38e7c.e0573","order":53,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"屏東","x":1530,"y":680,"wires":[]},{"id":"c28f37ce.cc6dd8","type":"function","z":"84b38e7c.e0573","name":"台東","func":"var aqi = msg.payload[60].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":720,"wires":[["66c134e0.29b40c"]]},{"id":"66c134e0.29b40c","type":"ui_led","z":"84b38e7c.e0573","order":50,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"台東","x":1530,"y":720,"wires":[]},{"id":"9b2bb87f.30a6e8","type":"function","z":"84b38e7c.e0573","name":"花蓮","func":"var aqi = msg.payload[61].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":760,"wires":[["e48e8a32.e461f8"]]},{"id":"e48e8a32.e461f8","type":"ui_led","z":"84b38e7c.e0573","order":35,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"花蓮","x":1530,"y":760,"wires":[]},{"id":"73266419.93ad0c","type":"function","z":"84b38e7c.e0573","name":"宜蘭","func":"var aqi = msg.payload[63].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":800,"wires":[["b27b004b.f4d05"]]},{"id":"b27b004b.f4d05","type":"ui_led","z":"84b38e7c.e0573","order":15,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"宜蘭","x":1530,"y":800,"wires":[]},{"id":"b1369ce1.25f9c","type":"function","z":"84b38e7c.e0573","name":"馬祖","func":"var aqi = msg.payload[71].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":840,"wires":[["af9cfb59.f32ff8"]]},{"id":"af9cfb59.f32ff8","type":"ui_led","z":"84b38e7c.e0573","order":2,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"馬祖","x":1530,"y":840,"wires":[]},{"id":"182af80d.e8f698","type":"function","z":"84b38e7c.e0573","name":"金門","func":"var aqi = msg.payload[72].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":880,"wires":[["1a7d135c.7c1a8d"]]},{"id":"1a7d135c.7c1a8d","type":"ui_led","z":"84b38e7c.e0573","order":19,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"金門","x":1530,"y":880,"wires":[]},{"id":"f9f38df7.4edb8","type":"function","z":"84b38e7c.e0573","name":"澎湖","func":"var aqi = msg.payload[73].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":920,"wires":[["3e1a7c1.daaf784"]]},{"id":"3e1a7c1.daaf784","type":"ui_led","z":"84b38e7c.e0573","order":38,"group":"d7d53078.9580c","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"澎湖","x":1530,"y":920,"wires":[]},{"id":"74d9bd55.42e324","type":"http request","z":"84b38e7c.e0573","name":"抓取 AQI","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://opendata2.epa.gov.tw/AQI.json","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":600,"wires":[["9596c338.c4c79"]]},{"id":"9596c338.c4c79","type":"json","z":"84b38e7c.e0573","name":"json","property":"payload","action":"","pretty":true,"x":690,"y":600,"wires":[["cbe39c55.8d41d","d8b832e9.9cda9"]]},{"id":"cbe39c55.8d41d","type":"function","z":"84b38e7c.e0573","name":"取出區域AQI","func":"\nmsg.aqi = Number(msg.payload[Number(context.global.Loc)].AQI) \ncontext.global.SiteName = msg.payload[Number(context.global.Loc)].SiteName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":600,"wires":[["cae7e729.5a46a8","c81b87e7.50fe28","466f1336.61af8c"]]},{"id":"cae7e729.5a46a8","type":"debug","z":"84b38e7c.e0573","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":600,"wires":[]},{"id":"f170f1e0.f7a36","type":"inject","z":"84b38e7c.e0573","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":378,"y":600,"wires":[["74d9bd55.42e324"]]},{"id":"c81b87e7.50fe28","type":"switch","z":"84b38e7c.e0573","name":"AQI等級","property":"aqi","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"btwn","v":"51","vt":"num","v2":"100","v2t":"num"},{"t":"btwn","v":"101","vt":"num","v2":"150","v2t":"num"},{"t":"btwn","v":"151","vt":"num","v2":"200","v2t":"num"},{"t":"btwn","v":"201","vt":"num","v2":"300","v2t":"num"},{"t":"gt","v":"300","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":370,"y":760,"wires":[["75c07c99.e06bb4"],["e891367.96e4bc8"],["6f486fc.74b4b9"],["c61c8b9c.fc17e8"],["e7d0fa4e.895dd8"],["46cf04c.3cb58fc"],[]]},{"id":"75c07c99.e06bb4","type":"change","z":"84b38e7c.e0573","name":"AQI:良好","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"良好","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":660,"wires":[["253d26fa.3820fa","53b00ff5.0528"]]},{"id":"e891367.96e4bc8","type":"change","z":"84b38e7c.e0573","name":"AQI:普通","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"普通","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["253d26fa.3820fa","53b00ff5.0528"]]},{"id":"6f486fc.74b4b9","type":"change","z":"84b38e7c.e0573","name":"AQI:對敏感族群不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"對敏感族群不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":740,"wires":[["253d26fa.3820fa","53b00ff5.0528"]]},{"id":"c61c8b9c.fc17e8","type":"change","z":"84b38e7c.e0573","name":"AQI:對所有族群不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"對所有族群不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["253d26fa.3820fa","53b00ff5.0528"]]},{"id":"e7d0fa4e.895dd8","type":"change","z":"84b38e7c.e0573","name":"AQI:非常不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"非常不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":820,"wires":[["253d26fa.3820fa","53b00ff5.0528"]]},{"id":"46cf04c.3cb58fc","type":"change","z":"84b38e7c.e0573","name":"AQI:危害","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"危害","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":860,"wires":[["253d26fa.3820fa","53b00ff5.0528"]]},{"id":"5dff557d.285dec","type":"debug","z":"84b38e7c.e0573","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":700,"wires":[]},{"id":"253d26fa.3820fa","type":"function","z":"84b38e7c.e0573","name":"訂定檔名與資料內容","func":"msg.filename = `AQI-${msg.day}.csv`\nmsg.payload = `${msg.time},${msg.aqi},${msg.aqiStatus}`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["5dff557d.285dec","8ca111e9.3a1af"]]},{"id":"8ca111e9.3a1af","type":"file","z":"84b38e7c.e0573","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"Big5","x":1030,"y":740,"wires":[[]]},{"id":"53b00ff5.0528","type":"function","z":"84b38e7c.e0573","name":"轉換 MQTT輸出資訊","func":"var n=context.global.SiteName;\nmsg.payload =  n +\" AQI:\" + msg.aqi + \"  \" + msg.aqiStatus\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":780,"wires":[["ffb2a241.47f4e","be3ed932.aa7578","a8c18031.b283d"]]},{"id":"ffb2a241.47f4e","type":"mqtt out","z":"84b38e7c.e0573","name":"","topic":"AQI_Num","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d879983d.6d20b8","x":1040,"y":780,"wires":[]},{"id":"d8b832e9.9cda9","type":"debug","z":"84b38e7c.e0573","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":540,"wires":[]},{"id":"be3ed932.aa7578","type":"debug","z":"84b38e7c.e0573","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":860,"wires":[]},{"id":"f4613d25.db69e","type":"mqtt in","z":"84b38e7c.e0573","name":"","topic":"AQI_Loc","qos":"0","datatype":"auto","broker":"d879983d.6d20b8","nl":false,"rap":false,"x":380,"y":540,"wires":[["6cd8984d.a1d9f8"]]},{"id":"6cd8984d.a1d9f8","type":"function","z":"84b38e7c.e0573","name":"","func":"context.global.Loc = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":540,"wires":[["74d9bd55.42e324","6a1cd3d.29a652c"]]},{"id":"6a1cd3d.29a652c","type":"debug","z":"84b38e7c.e0573","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":540,"wires":[]},{"id":"b6cdb7b9.b2e228","type":"ui_dropdown","z":"84b38e7c.e0573","name":"","label":"SelectCity","tooltip":"","place":"Select option","group":"d7d53078.9580c","order":23,"width":5,"height":2,"passthru":true,"multiple":false,"options":[{"label":"台北市","value":"10","type":"str"},{"label":"基隆","value":"0","type":"str"},{"label":"桃園","value":"17","type":"str"},{"label":"新竹","value":"23","type":"str"},{"label":"苗栗","value":"25","type":"str"},{"label":"台中","value":"27","type":"str"},{"label":"彰化","value":"32","type":"str"},{"label":"南投","value":"35","type":"str"},{"label":"雲林","value":"40","type":"str"},{"label":"嘉義","value":"41","type":"str"},{"label":"台南","value":"45","type":"str"},{"label":"高雄","value":"53","type":"str"},{"label":"恆春","value":"59","type":"str"},{"label":"宜蘭","value":"63","type":"str"},{"label":"花蓮","value":"61","type":"str"},{"label":"台東","value":"60","type":"str"},{"label":"馬祖","value":"71","type":"str"},{"label":"金門","value":"72","type":"str"},{"label":"澎湖馬公","value":"73","type":"str"}],"payload":"","topic":"","topicType":"str","className":"","x":380,"y":480,"wires":[["6cd8984d.a1d9f8"]]},{"id":"a8c18031.b283d","type":"ui_text","z":"84b38e7c.e0573","group":"d7d53078.9580c","order":17,"width":5,"height":1,"name":"","label":"單區AQI查詢:","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":820,"wires":[]},{"id":"61ba1500.0a9e9c","type":"ui_template","z":"84b38e7c.e0573","group":"d7d53078.9580c","name":"AQI_LED","order":29,"width":5,"height":2,"format":"<style>\n.led {\n float: right;\n padding: 3px;\n width: 16px;\n height: 16px;\n margin: 4px 2px 8px 0px;\n border-radius: 0%;\n \n}\n</style>\n\n<h1 fill=lime></h1>\n\n<div>\n\n\n<span class=\"led\" style=\"background-color: {{msg.payload[9]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[9]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[8]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[8]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[7]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[7]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[6]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[6]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[5]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[5]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[4]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[4]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[3]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[3]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[2]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[2]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[1]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[1]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[0]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[0]}} 0 3px 15px;\"></span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1180,"y":660,"wires":[[]]},{"id":"bd0166e9.382b98","type":"function","z":"84b38e7c.e0573","name":"check","func":"if (msg.payload > 150 ){\n    msg.payload = [\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\"];\n    return msg;\n}\nelse if (msg.payload > 100 && msg.payload <= 150 ){\n    msg.payload = [\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\"];\n    return msg;\n}else if (msg.payload > 50 && msg.payload <= 100 ){\n    msg.payload = [\"#FFFF00\",\"#FFFF00\",\"#FFFF00\"];\n    return msg;\n}else if (msg.payload <= 50){\n    msg.payload = [\"#00FF00\"];\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":660,"wires":[["61ba1500.0a9e9c"]]},{"id":"466f1336.61af8c","type":"change","z":"84b38e7c.e0573","name":"Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"aqi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["bd0166e9.382b98","436beac3.779fa4"]]},{"id":"64596d3f.0a7114","type":"ui_template","z":"84b38e7c.e0573","group":"3ca910b5.3d50a","name":"gauge-style","order":1,"width":0,"height":0,"format":"<style id=\"hotNipi-gauge\">\n:root{\n    --needle-color:#001100;\n    --sec-high-color:#ff00004f;\n    --sec-normal-color:#00ff004f;\n}\n.g-container {\n    padding-top: 3px;\n    padding-bottom: 3px;\n    width: 100%;\n    height: 100%;\n    position: relative;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    user-select:none;\n}\n    \n.g-body{\n    width:98%;\n    height:98%;\n    border-radius:15%;\n    position:relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n    box-shadow: 0px 5px 8px #00000045;\n    background:linear-gradient(0deg, rgba(78,78,78,1) 0%, rgba(215,215,215,1) 99%, rgba(236,236,236,1) 100%);\n}\n\n.g-body::before {    \n    content: \"\";\n    background-image: url(\"data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==\"); \n    background-repeat: repeat;\n    position: absolute;\n    top: 0px;\n    right: 0px;\n    bottom: 0px;\n    left: 0px;\n    opacity: 0.1;\n    border-radius:15%;\n}\n\n.g-ring{\n    width:90%;\n    height:90%;\n    border-radius:50%;\n    position:relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n   \n    background:linear-gradient(180deg, rgba(78,78,78,1) 0%, rgba(215,215,215,1) 99%, rgba(236,236,236,1) 100%);;\n}\n.g-plate {\n    overflow:hidden;\n    width: 90%;\n    height: 90%;\n    border-radius: 50%;\n    position: relative;\n    box-shadow: inset 0 0 15px black;\n    background: radial-gradient(circle, #dd8400 3%, rgb(196 205 209) 1%, rgb(177 183 186) 40%, rgb(108 114 120) 100%);\n}\n.g-sector{\n    width: 100%;\n    height: 100%;\n    position: absolute;\n    top: 50%;\n    left: 50%;\n   \n    transform-origin: 0 0;\n}\n.g-sector-high {\n    background: var(--sec-high-color);\n    transform: rotate(329deg) skew(12deg, 23deg);\n}\n.g-sector-normal {\n    background:var(--sec-normal-color);\n    transform: rotate(329deg) skew(12deg, 23deg);\n}\n.g-ticks {\n    position: absolute;\n    top:0;\n    left:0;\n    width: 100%;\n    height: 100%;\n    filter: drop-shadow(2px 4px 6px black);\n}\n.g-tick {\n    transform: rotate(calc(27deg * var(--ga-tick) - 71deg));\n    background: #000;\n    position: relative;\n    left: 0;\n    top: 50%;\n    width: 100%;\n    height: 1%;\n    margin-bottom: -1%;\n    background: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 2%,rgb(0 0 0 / 60%) 2%,rgb(0 0 0 / 60%) 10%,rgba(0,0,0,0) 10%);\n}\n.g-num {\n    position: absolute;\n}\n.g-nums {\n    position: absolute;\n    top:0;\n    width: 100%;\n    height: 100%;\n    color: #000000a1;\n    font-size: calc(var(--container-size) * 16%);\n    font-weight: 500;\n    filter: drop-shadow(2px 4px 6px black);\n}\n.g-needle {\n    transform: rotate(calc(270deg * calc(var(--g-angle, 0deg) / 99) - 45deg));\n    transition: transform 1s;\n    background: #000;\n    position: absolute;\n    left: 0;\n    top: 49%;\n    width: 100%;\n    height: 2%;\n    filter:drop-shadow(0px 1px 3px #00000080);\n    background: linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(110,0,0,0) 15%,var(--needle-color) 15%,var(--needle-color) 50%,rgba(110,0,0,0) 50%);\n}\n.g-needle-ring {\n    position: absolute;\n    width: calc(var(--container-size) * 1.5%);\n    height: calc(var(--container-size) * 1.5%);\n    top: 50%;\n    left: 50%;\n    background: var(--needle-color);\n    border-radius: 50%;\n    transform: translate(-50%, -50%);\n    box-shadow: 0 1px 4px #0000009c;\n}\n.g-val{\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    bottom: 8%;\n    width: 80px;\n    transform: translateX(-50%);\n    font-family: monospace;\n    font-size:  calc(var(--container-size) * 40%);\n    color: #ff0000;  // 數值顏色\n    filter: drop-shadow(2px 3px 2px #00000080);\n}\n.g-label{\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    top: 55%;\n    width: 100%;\n    transform: translateX(-50%);\n    font-family: monospace;\n    font-size:  calc(var(--container-size) * 40%);\n    color: #000080;   // label 顯示顏色\n    filter: drop-shadow(2px 3px 2px #00000080);\n}\n.g-rivets{\n    position: absolute;\n    left:0;\n    top:0;\n    width: 100%;\n    height: 100%;\n}\n\n.g-rivet {\n    position: absolute;\n    width: calc(var(--container-size) * 2px);\n    height: calc(var(--container-size) * 2px);\n    border-radius: 50px;\n    background: linear-gradient(135deg, #adadad 0%,#d3d3d3 51%,#d1d1d1 68%,#8c8c8c 100%);\n    box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0,0,0,0.2);\n    border: 1px solid rgba(255,255,255,0.1);\n}\n.g-rivet:nth-child(1){\n    top:calc(var(--container-size) * 1.5px);\n    left:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(2){\n    top:calc(var(--container-size) * 1.5px);\n    right:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(3){\n    bottom:calc(var(--container-size) * 1.5px);\n    left:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(4){\n    bottom:calc(var(--container-size) * 1.5px);\n    right:calc(var(--container-size) * 1.5px);\n}\n\n.g-rivet::before {\n    content: '';\n    position: absolute;\n    left: 50%;\n    top: 50%;\n    width: calc(var(--container-size) * 10%);\n    height: calc(var(--container-size) * 10%);\n    box-shadow: inset 0px 1px 2px #222;\n    transform: translate(-50%, -50%);\n    border-radius: 50%;\n    border-bottom: 1px solid rgba(255,255,255,0.3);\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":390,"y":410,"wires":[[]]},{"id":"436beac3.779fa4","type":"ui_template","z":"84b38e7c.e0573","group":"d7d53078.9580c","name":"AQI_Gauge","order":42,"width":5,"height":5,"format":"<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"--g-angle:0; --container-size:4\">\n    <div id=\"bgr\" class=\"g-body\">\n        <div class=\"g-ring\">\n            <div class=\"g-plate\">\n                \n                <div class=\"g-ticks\">\n                    <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n\n                </div>\n                <div class=\"g-nums\">\n                    <div class=\"g-num\" style=\"left:24%; top:70%;\">0</div>\n                    <div class=\"g-num\" style=\"left:20%; top:26%;\">50</div>\n                    <div class=\"g-num\" style=\"left:47%; top:11%;\">100</div>\n                    <div class=\"g-num\" style=\"left:74%; top:26%;\">150</div>\n                    <div class=\"g-num\" style=\"left:65%; top:71%;\">200</div>\n                </div>\n                <div class=\"g-label\">AQI</div>\n                <div class=\"g-needle\"></div>\n                <div class=\"g-needle-ring\"></div>\n                <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n            </div>\n            <div class=\"g-rivets\">\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                </div>\n        </div>\n    </div>\n</div>\n<script>\n    (function(scope) {\n    let min = 0;\n    let max = 200;\n    scope.$watch('msg', function(msg) {\n        if (msg) {\n            const v = Math.floor(((msg.payload - min) / (max - min)) * 100);\n            document.getElementById('gauge_'+scope.$id).style.setProperty('--g-angle', v);\n            document.getElementById('gauge_val_'+scope.$id).innerText = msg.payload;\n        }   \n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1190,"y":740,"wires":[[]]},{"id":"d3262c3baffe044c","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":1,"width":9,"height":1},{"id":"85eb0c552ca6a420","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":3,"width":6,"height":1},{"id":"bef609144a88f600","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":5,"width":2,"height":1},{"id":"736dc6909a721331","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":7,"width":10,"height":1},{"id":"7e8ccdc3d39f90f8","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":8,"width":18,"height":1},{"id":"59e753156d7294d5","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":10,"width":11,"height":1},{"id":"7d8e7071ecbb0ad7","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":12,"width":14,"height":1},{"id":"458ce09e0b25629b","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":14,"width":2,"height":1},{"id":"12b4f38e013e528a","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":16,"width":5,"height":1},{"id":"c751495beb1db4a9","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":18,"width":7,"height":1},{"id":"ca61c601d15e518e","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":20,"width":5,"height":1},{"id":"8dfefa17817d901e","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":22,"width":9,"height":1},{"id":"2d6ca6be44cae604","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":24,"width":13,"height":1},{"id":"931d3b6f7d9e7750","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":27,"width":10,"height":1},{"id":"5ac933041b048aaf","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":28,"width":25,"height":1},{"id":"3fcb10e8191fb9f6","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":30,"width":13,"height":1},{"id":"933abbfa7af24ba2","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":32,"width":1,"height":1},{"id":"c8d0de41557be170","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":34,"width":2,"height":1},{"id":"c32bc98f9ea65a9f","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":36,"width":6,"height":1},{"id":"d060359b36f3a8e7","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":37,"width":9,"height":1},{"id":"db26e214c3a41e8e","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":39,"width":4,"height":1},{"id":"411feb02933e68c9","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":41,"width":10,"height":1},{"id":"046c8338bfab3681","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":43,"width":13,"height":1},{"id":"f7d8450ee7e100c4","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":45,"width":11,"height":1},{"id":"a15f315baa94d4be","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":46,"width":14,"height":1},{"id":"82bf34e8d44ac75d","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":48,"width":10,"height":1},{"id":"c18384b3dbd72626","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":49,"width":16,"height":1},{"id":"a82dbd3d11c1ddd7","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":51,"width":8,"height":1},{"id":"4d569078c74ba0a1","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":52,"width":14,"height":1},{"id":"e73a28009bf39f99","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":54,"width":10,"height":1},{"id":"6ca8b739a18d7d17","type":"ui_spacer","z":"84b38e7c.e0573","name":"spacer","group":"d7d53078.9580c","order":55,"width":30,"height":1},{"id":"d7d53078.9580c","type":"ui_group","name":"Search","tab":"b0c27d05.c92f7","order":1,"disp":true,"width":"30","collapse":false,"className":"AQI_Data"},{"id":"d879983d.6d20b8","type":"mqtt-broker","name":"EMQX","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ca910b5.3d50a","type":"ui_group","name":"Gauge","tab":"b0c27d05.c92f7","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"b0c27d05.c92f7","type":"ui_tab","name":"Taiwan_AQI_Data","icon":"fa-cogs","order":2,"disabled":false,"hidden":false}]