NBIOT_PM25/Taiwan_AQI單區查詢.json
[{"id":"3ce91551a961928c","type":"tab","label":"AQI單區查詢","disabled":false,"info":""},{"id":"09809484cd73f77a","type":"http request","z":"3ce91551a961928c","name":"抓取 AQI","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://opendata2.epa.gov.tw/AQI.json","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":200,"wires":[["16f4ec0b7b2ff8c1"]]},{"id":"16f4ec0b7b2ff8c1","type":"json","z":"3ce91551a961928c","name":"json","property":"payload","action":"","pretty":true,"x":510,"y":200,"wires":[["9be7c78488bfdb7e","56e0804871c72bca"]]},{"id":"9be7c78488bfdb7e","type":"function","z":"3ce91551a961928c","name":"取出區域AQI","func":"\nmsg.aqi = Number(msg.payload[Number(context.global.Loc)].AQI) \ncontext.global.SiteName = msg.payload[Number(context.global.Loc)].SiteName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":200,"wires":[["d2d03dab05225b81","d53c418c7cce174c","591f304e07c9237e"]]},{"id":"d2d03dab05225b81","type":"debug","z":"3ce91551a961928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":200,"wires":[]},{"id":"ae4d731098552dc5","type":"inject","z":"3ce91551a961928c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":198,"y":200,"wires":[["09809484cd73f77a"]]},{"id":"d53c418c7cce174c","type":"switch","z":"3ce91551a961928c","name":"AQI等級","property":"aqi","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"btwn","v":"51","vt":"num","v2":"100","v2t":"num"},{"t":"btwn","v":"101","vt":"num","v2":"150","v2t":"num"},{"t":"btwn","v":"151","vt":"num","v2":"200","v2t":"num"},{"t":"btwn","v":"201","vt":"num","v2":"300","v2t":"num"},{"t":"gt","v":"300","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":200,"y":360,"wires":[["5ab6c8f8478ed02c"],["9ee5dd23df0180e6"],["42b67e70be165633"],["654395f9d7fc952a"],["7a1da8f23962db32"],["74f40dc75277a434"],[]]},{"id":"5ab6c8f8478ed02c","type":"change","z":"3ce91551a961928c","name":"AQI:良好","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"良好","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["0406f783a7a54269","4d6fa2197d4af3e8"]]},{"id":"9ee5dd23df0180e6","type":"change","z":"3ce91551a961928c","name":"AQI:普通","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"普通","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["0406f783a7a54269","4d6fa2197d4af3e8"]]},{"id":"42b67e70be165633","type":"change","z":"3ce91551a961928c","name":"AQI:對敏感族群不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"對敏感族群不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":340,"wires":[["0406f783a7a54269","4d6fa2197d4af3e8"]]},{"id":"654395f9d7fc952a","type":"change","z":"3ce91551a961928c","name":"AQI:對所有族群不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"對所有族群不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["0406f783a7a54269","4d6fa2197d4af3e8"]]},{"id":"7a1da8f23962db32","type":"change","z":"3ce91551a961928c","name":"AQI:非常不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"非常不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[["0406f783a7a54269","4d6fa2197d4af3e8"]]},{"id":"74f40dc75277a434","type":"change","z":"3ce91551a961928c","name":"AQI:危害","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"危害","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":460,"wires":[["0406f783a7a54269","4d6fa2197d4af3e8"]]},{"id":"a8b4785dae048e04","type":"debug","z":"3ce91551a961928c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":300,"wires":[]},{"id":"0406f783a7a54269","type":"function","z":"3ce91551a961928c","name":"訂定檔名與資料內容","func":"msg.filename = `AQI-${msg.day}.csv`\nmsg.payload = `${msg.time},${msg.aqi},${msg.aqiStatus}`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":340,"wires":[["a8b4785dae048e04","d2077867d9cc5853"]]},{"id":"d2077867d9cc5853","type":"file","z":"3ce91551a961928c","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"Big5","x":850,"y":340,"wires":[[]]},{"id":"4d6fa2197d4af3e8","type":"function","z":"3ce91551a961928c","name":"轉換 MQTT輸出資訊","func":"var n=context.global.SiteName;\nmsg.payload =  n +\" AQI:\" + msg.aqi + \"  \" + msg.aqiStatus\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":380,"wires":[["066593721881f155","46c0a4925f6b097f","f7d01054e217490e"]]},{"id":"066593721881f155","type":"mqtt out","z":"3ce91551a961928c","name":"","topic":"AQI_Num","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d879983d.6d20b8","x":860,"y":380,"wires":[]},{"id":"56e0804871c72bca","type":"debug","z":"3ce91551a961928c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"46c0a4925f6b097f","type":"debug","z":"3ce91551a961928c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"3ea0d78c1ffa67a8","type":"mqtt in","z":"3ce91551a961928c","name":"","topic":"AQI_Loc","qos":"0","datatype":"auto","broker":"d879983d.6d20b8","nl":false,"rap":false,"x":200,"y":140,"wires":[["3954dbbce9318556"]]},{"id":"3954dbbce9318556","type":"function","z":"3ce91551a961928c","name":"","func":"context.global.Loc = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[["09809484cd73f77a","df5c261ff1fc2455"]]},{"id":"df5c261ff1fc2455","type":"debug","z":"3ce91551a961928c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"6605de4c60e81d56","type":"ui_dropdown","z":"3ce91551a961928c","name":"","label":"SelectCity","tooltip":"","place":"Select option","group":"62cc9fec5c5ae74b","order":4,"width":5,"height":2,"passthru":true,"multiple":false,"options":[{"label":"台北市","value":"10","type":"str"},{"label":"基隆","value":"0","type":"str"},{"label":"桃園","value":"17","type":"str"},{"label":"新竹","value":"23","type":"str"},{"label":"苗栗","value":"25","type":"str"},{"label":"台中","value":"27","type":"str"},{"label":"彰化","value":"32","type":"str"},{"label":"南投","value":"35","type":"str"},{"label":"雲林","value":"40","type":"str"},{"label":"嘉義","value":"41","type":"str"},{"label":"台南","value":"45","type":"str"},{"label":"高雄","value":"53","type":"str"},{"label":"恆春","value":"59","type":"str"},{"label":"宜蘭","value":"63","type":"str"},{"label":"花蓮","value":"61","type":"str"},{"label":"台東","value":"60","type":"str"},{"label":"馬祖","value":"71","type":"str"},{"label":"金門","value":"72","type":"str"},{"label":"澎湖馬公","value":"73","type":"str"}],"payload":"","topic":"","topicType":"str","className":"","x":200,"y":80,"wires":[["3954dbbce9318556"]]},{"id":"f7d01054e217490e","type":"ui_text","z":"3ce91551a961928c","group":"62cc9fec5c5ae74b","order":1,"width":5,"height":1,"name":"","label":"AQI","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":420,"wires":[]},{"id":"0eec7703ddc86203","type":"ui_template","z":"3ce91551a961928c","group":"62cc9fec5c5ae74b","name":"AQI_LED","order":3,"width":5,"height":2,"format":"<style>\n.led {\n float: right;\n padding: 3px;\n width: 16px;\n height: 16px;\n margin: 4px 2px 8px 0px;\n border-radius: 0%;\n \n}\n</style>\n\n<h1 fill=lime></h1>\n\n<div>\n\n\n<span class=\"led\" style=\"background-color: {{msg.payload[9]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[9]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[8]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[8]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[7]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[7]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[6]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[6]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[5]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[5]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[4]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[4]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[3]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[3]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[2]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[2]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[1]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[1]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[0]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[0]}} 0 3px 15px;\"></span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1000,"y":260,"wires":[[]]},{"id":"7ad27ceab5a21cc0","type":"function","z":"3ce91551a961928c","name":"check","func":"if (msg.payload > 150 ){\n    msg.payload = [\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\"];\n    return msg;\n}\nelse if (msg.payload > 100 && msg.payload <= 150 ){\n    msg.payload = [\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\"];\n    return msg;\n}else if (msg.payload > 50 && msg.payload <= 100 ){\n    msg.payload = [\"#FFFF00\",\"#FFFF00\",\"#FFFF00\"];\n    return msg;\n}else if (msg.payload <= 50){\n    msg.payload = [\"#00FF00\"];\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":260,"wires":[["0eec7703ddc86203"]]},{"id":"591f304e07c9237e","type":"change","z":"3ce91551a961928c","name":"Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"aqi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":260,"wires":[["7ad27ceab5a21cc0","0985890ec20a9ad0"]]},{"id":"dc6a2019560c9806","type":"ui_template","z":"3ce91551a961928c","group":"e9062096c6e18e44","name":"gauge-style","order":1,"width":0,"height":0,"format":"<style id=\"hotNipi-gauge\">\n:root{\n    --needle-color:#001100;\n    --sec-high-color:#ff00004f;\n    --sec-normal-color:#00ff004f;\n}\n.g-container {\n    padding-top: 3px;\n    padding-bottom: 3px;\n    width: 100%;\n    height: 100%;\n    position: relative;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    user-select:none;\n}\n    \n.g-body{\n    width:98%;\n    height:98%;\n    border-radius:15%;\n    position:relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n    box-shadow: 0px 5px 8px #00000045;\n    background:linear-gradient(0deg, rgba(78,78,78,1) 0%, rgba(215,215,215,1) 99%, rgba(236,236,236,1) 100%);\n}\n\n.g-body::before {    \n    content: \"\";\n    background-image: url(\"data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==\"); \n    background-repeat: repeat;\n    position: absolute;\n    top: 0px;\n    right: 0px;\n    bottom: 0px;\n    left: 0px;\n    opacity: 0.1;\n    border-radius:15%;\n}\n\n.g-ring{\n    width:90%;\n    height:90%;\n    border-radius:50%;\n    position:relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n   \n    background:linear-gradient(180deg, rgba(78,78,78,1) 0%, rgba(215,215,215,1) 99%, rgba(236,236,236,1) 100%);;\n}\n.g-plate {\n    overflow:hidden;\n    width: 90%;\n    height: 90%;\n    border-radius: 50%;\n    position: relative;\n    box-shadow: inset 0 0 15px black;\n    background: radial-gradient(circle, #dd8400 3%, rgb(196 205 209) 1%, rgb(177 183 186) 40%, rgb(108 114 120) 100%);\n}\n.g-sector{\n    width: 100%;\n    height: 100%;\n    position: absolute;\n    top: 50%;\n    left: 50%;\n   \n    transform-origin: 0 0;\n}\n.g-sector-high {\n    background: var(--sec-high-color);\n    transform: rotate(329deg) skew(12deg, 23deg);\n}\n.g-sector-normal {\n    background:var(--sec-normal-color);\n    transform: rotate(329deg) skew(12deg, 23deg);\n}\n.g-ticks {\n    position: absolute;\n    top:0;\n    left:0;\n    width: 100%;\n    height: 100%;\n    filter: drop-shadow(2px 4px 6px black);\n}\n.g-tick {\n    transform: rotate(calc(27deg * var(--ga-tick) - 71deg));\n    background: #000;\n    position: relative;\n    left: 0;\n    top: 50%;\n    width: 100%;\n    height: 1%;\n    margin-bottom: -1%;\n    background: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 2%,rgb(0 0 0 / 60%) 2%,rgb(0 0 0 / 60%) 10%,rgba(0,0,0,0) 10%);\n}\n.g-num {\n    position: absolute;\n}\n.g-nums {\n    position: absolute;\n    top:0;\n    width: 100%;\n    height: 100%;\n    color: #000000a1;\n    font-size: calc(var(--container-size) * 16%);\n    font-weight: 500;\n    filter: drop-shadow(2px 4px 6px black);\n}\n.g-needle {\n    transform: rotate(calc(270deg * calc(var(--g-angle, 0deg) / 99) - 45deg));\n    transition: transform 1s;\n    background: #000;\n    position: absolute;\n    left: 0;\n    top: 49%;\n    width: 100%;\n    height: 2%;\n    filter:drop-shadow(0px 1px 3px #00000080);\n    background: linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(110,0,0,0) 15%,var(--needle-color) 15%,var(--needle-color) 50%,rgba(110,0,0,0) 50%);\n}\n.g-needle-ring {\n    position: absolute;\n    width: calc(var(--container-size) * 1.5%);\n    height: calc(var(--container-size) * 1.5%);\n    top: 50%;\n    left: 50%;\n    background: var(--needle-color);\n    border-radius: 50%;\n    transform: translate(-50%, -50%);\n    box-shadow: 0 1px 4px #0000009c;\n}\n.g-val{\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    bottom: 8%;\n    width: 80px;\n    transform: translateX(-50%);\n    font-family: monospace;\n    font-size:  calc(var(--container-size) * 40%);\n    color: #800000;  \n    filter: drop-shadow(2px 3px 2px #00000080);\n}\n.g-label{\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    top: 55%;\n    width: 100%;\n    transform: translateX(-50%);\n    font-family: monospace;\n    font-size:  calc(var(--container-size) * 40%);\n    color: #000080;   \n    filter: drop-shadow(2px 3px 2px #00000080);\n}\n.g-rivets{\n    position: absolute;\n    left:0;\n    top:0;\n    width: 100%;\n    height: 100%;\n}\n\n.g-rivet {\n    position: absolute;\n    width: calc(var(--container-size) * 2px);\n    height: calc(var(--container-size) * 2px);\n    border-radius: 50px;\n    background: linear-gradient(135deg, #adadad 0%,#d3d3d3 51%,#d1d1d1 68%,#8c8c8c 100%);\n    box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0,0,0,0.2);\n    border: 1px solid rgba(255,255,255,0.1);\n}\n.g-rivet:nth-child(1){\n    top:calc(var(--container-size) * 1.5px);\n    left:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(2){\n    top:calc(var(--container-size) * 1.5px);\n    right:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(3){\n    bottom:calc(var(--container-size) * 1.5px);\n    left:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(4){\n    bottom:calc(var(--container-size) * 1.5px);\n    right:calc(var(--container-size) * 1.5px);\n}\n\n.g-rivet::before {\n    content: '';\n    position: absolute;\n    left: 50%;\n    top: 50%;\n    width: calc(var(--container-size) * 10%);\n    height: calc(var(--container-size) * 10%);\n    box-shadow: inset 0px 1px 2px #222;\n    transform: translate(-50%, -50%);\n    border-radius: 50%;\n    border-bottom: 1px solid rgba(255,255,255,0.3);\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":1010,"y":300,"wires":[[]]},{"id":"0985890ec20a9ad0","type":"ui_template","z":"3ce91551a961928c","group":"62cc9fec5c5ae74b","name":"AQI_Gauge","order":5,"width":5,"height":"5","format":"<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"--g-angle:0; --container-size:4\">\n    <div id=\"bgr\" class=\"g-body\">\n        <div class=\"g-ring\">\n            <div class=\"g-plate\">\n                \n                <div class=\"g-ticks\">\n                    <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n\n                </div>\n                <div class=\"g-nums\">\n                    <div class=\"g-num\" style=\"left:24%; top:70%;\">0</div>\n                    <div class=\"g-num\" style=\"left:20%; top:26%;\">50</div>\n                    <div class=\"g-num\" style=\"left:47%; top:11%;\">100</div>\n                    <div class=\"g-num\" style=\"left:74%; top:26%;\">150</div>\n                    <div class=\"g-num\" style=\"left:65%; top:71%;\">200</div>\n                </div>\n                <div class=\"g-label\">AQI</div>\n                <div class=\"g-needle\"></div>\n                <div class=\"g-needle-ring\"></div>\n                <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n            </div>\n            <div class=\"g-rivets\">\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                </div>\n        </div>\n    </div>\n</div>\n<script>\n    (function(scope) {\n    let min = 0;\n    let max = 200;\n    scope.$watch('msg', function(msg) {\n        if (msg) {\n            const v = Math.floor(((msg.payload - min) / (max - min)) * 100);\n            document.getElementById('gauge_'+scope.$id).style.setProperty('--g-angle', v);\n            document.getElementById('gauge_val_'+scope.$id).innerText = msg.payload;\n        }   \n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1010,"y":340,"wires":[[]]},{"id":"881670a846ecd223","type":"ui_template","z":"3ce91551a961928c","group":"62cc9fec5c5ae74b","name":"背景圖","order":16,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://od.lk/s/MTVfMjY2MTI5MzVf/air.jpg\");\n        background-size: 100% 100%;\n    }\n    \n    //body.nr-dashboard-theme md-content md-card {\n    //    background: rgba(1,200,1,0.1);\n    //}\n    \n   \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":990,"y":380,"wires":[[]]},{"id":"d879983d.6d20b8","type":"mqtt-broker","name":"EMQX","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62cc9fec5c5ae74b","type":"ui_group","name":"GetData","tab":"80870922425c0831","order":1,"disp":false,"width":10,"collapse":false},{"id":"e9062096c6e18e44","type":"ui_group","name":"Gauge","tab":"80870922425c0831","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"80870922425c0831","type":"ui_tab","name":"Taiwan_AQI單區查詢","icon":"dashboard","order":1,"disabled":false,"hidden":false}]