NBIOT_PM25/Taiwan_AQI_Data_V2.json
[{"id":"701af54e9219548f","type":"tab","label":"AQI全區地圖顯示","disabled":false,"info":""},{"id":"83d6f08acf3a6b83","type":"ui_template","z":"701af54e9219548f","group":"a235940354fa2d89","name":"Tab Stylesheet","order":55,"width":0,"height":0,"format":"<style>\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(0, 0, 0);\n  --color-widget-border: rgb(84, 78, 78);\n  \n}\n\nbody {\n  background-image: url(https://od.lk/s/MTVfMjY2MTY1ODFf/Taiwan-1.jpg);\n  background-repeat: no-repeat;\n  background-size: contain;   \n}\n\n\n#Taiwan_AQI_Data_Search {\n  background: transparent;\n  border: transparent; \n}\n\n#Taiwan_AQI_Data_Search_cards > md-card  {\n  background: transparent;\n  border: transparent;\n  color: #000000;\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    text-shadow: 4px 2px 4px #00000045;\n    border-radius: 32px;\n    box-shadow: 0 -1px 5px 1px #00000045;    \n    border: 1px solid var(--color-widget-border);\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":400,"y":360,"wires":[[]]},{"id":"e747c0c0c909fae3","type":"ui_button","z":"701af54e9219548f","name":"","group":"a235940354fa2d89","order":9,"width":2,"height":2,"passthru":false,"label":"全區狀態查詢","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":420,"y":300,"wires":[["c2efa02750d08b95"]]},{"id":"cfa69ee08776fedf","type":"inject","z":"701af54e9219548f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":240,"wires":[["c2efa02750d08b95"]]},{"id":"c2efa02750d08b95","type":"http request","z":"701af54e9219548f","name":"air request","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://opendata2.epa.gov.tw/AQI.json","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":240,"wires":[["0263398d68330c58"]]},{"id":"0263398d68330c58","type":"json","z":"701af54e9219548f","name":"json","property":"payload","action":"","pretty":true,"x":730,"y":240,"wires":[["d9d3d5164c8dd70f","dd4a502d3fe97986","a51411505540f479","1323e24bdc0a1175","8723f47303569baf","e6a6044f185abf72","ec522797db84f810","169afa4d1df49cc0","ae78d03c9510dfbc","784a960373e15834","30cfb9cd014e48e3","ff753842ef6a1245","1ccd69d059168de9","dfbeb284cb762fe6","46d9498e0b1ef890","b08f7528618a4335","422e3398b05b2c4e","dede717c82793132","89da5d48eb6dec9b","352b5da54f0e1b8d"]]},{"id":"d9d3d5164c8dd70f","type":"function","z":"701af54e9219548f","name":"台北","func":"var aqi = msg.payload[10].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":200,"wires":[["e8db7ec7038e428f"]]},{"id":"dd4a502d3fe97986","type":"debug","z":"701af54e9219548f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":300,"wires":[]},{"id":"e8db7ec7038e428f","type":"ui_led","z":"701af54e9219548f","order":5,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"台北","x":1530,"y":200,"wires":[]},{"id":"a51411505540f479","type":"function","z":"701af54e9219548f","name":"基隆","func":"var aqi = msg.payload[0].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":240,"wires":[["484caf7bef42812b"]]},{"id":"484caf7bef42812b","type":"ui_led","z":"701af54e9219548f","order":7,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"基隆","x":1530,"y":240,"wires":[]},{"id":"1323e24bdc0a1175","type":"function","z":"701af54e9219548f","name":"桃園","func":"var aqi = msg.payload[17].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":280,"wires":[["f21e32c19d3bd5fa"]]},{"id":"f21e32c19d3bd5fa","type":"ui_led","z":"701af54e9219548f","order":4,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"桃園","x":1530,"y":280,"wires":[]},{"id":"8723f47303569baf","type":"function","z":"701af54e9219548f","name":"新竹","func":"var aqi = msg.payload[23].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":320,"wires":[["039f69d5c0a21d62"]]},{"id":"039f69d5c0a21d62","type":"ui_led","z":"701af54e9219548f","order":15,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"新竹","x":1530,"y":320,"wires":[]},{"id":"e6a6044f185abf72","type":"function","z":"701af54e9219548f","name":"苗栗","func":"var aqi = msg.payload[25].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":360,"wires":[["046c74e84196f2eb"]]},{"id":"046c74e84196f2eb","type":"ui_led","z":"701af54e9219548f","order":14,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"苗栗","x":1530,"y":360,"wires":[]},{"id":"ec522797db84f810","type":"function","z":"701af54e9219548f","name":"台中","func":"var aqi = msg.payload[27].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":400,"wires":[["d1ce591835f0f85c"]]},{"id":"d1ce591835f0f85c","type":"ui_led","z":"701af54e9219548f","order":23,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"台中","x":1530,"y":400,"wires":[]},{"id":"169afa4d1df49cc0","type":"function","z":"701af54e9219548f","name":"彰化","func":"var aqi = msg.payload[32].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":440,"wires":[["b2af513dcaa9b2b0"]]},{"id":"b2af513dcaa9b2b0","type":"ui_led","z":"701af54e9219548f","order":26,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"彰化","x":1530,"y":440,"wires":[]},{"id":"ae78d03c9510dfbc","type":"function","z":"701af54e9219548f","name":"南投","func":"var aqi = msg.payload[35].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":480,"wires":[["708d008291b66aa3"]]},{"id":"708d008291b66aa3","type":"ui_led","z":"701af54e9219548f","order":28,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"南投","x":1530,"y":480,"wires":[]},{"id":"784a960373e15834","type":"function","z":"701af54e9219548f","name":"雲林","func":"var aqi = msg.payload[40].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":520,"wires":[["cce69539dcf1b3ce"]]},{"id":"cce69539dcf1b3ce","type":"ui_led","z":"701af54e9219548f","order":34,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"雲林","x":1530,"y":520,"wires":[]},{"id":"30cfb9cd014e48e3","type":"function","z":"701af54e9219548f","name":"嘉義","func":"var aqi = msg.payload[41].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":560,"wires":[["64126714505e871f"]]},{"id":"64126714505e871f","type":"ui_led","z":"701af54e9219548f","order":39,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"嘉義","x":1530,"y":560,"wires":[]},{"id":"ff753842ef6a1245","type":"function","z":"701af54e9219548f","name":"台南","func":"var aqi = msg.payload[45].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":600,"wires":[["0172d86a48e4e484"]]},{"id":"0172d86a48e4e484","type":"ui_led","z":"701af54e9219548f","order":43,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"台南","x":1530,"y":600,"wires":[]},{"id":"1ccd69d059168de9","type":"function","z":"701af54e9219548f","name":"高雄","func":"var aqi = msg.payload[53].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":640,"wires":[["18370c0eaf5e7d0a"]]},{"id":"18370c0eaf5e7d0a","type":"ui_led","z":"701af54e9219548f","order":46,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"高雄","x":1530,"y":640,"wires":[]},{"id":"dfbeb284cb762fe6","type":"function","z":"701af54e9219548f","name":"屏東","func":"var aqi = msg.payload[59].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":680,"wires":[["2bbc4f83f9b8baaa"]]},{"id":"2bbc4f83f9b8baaa","type":"ui_led","z":"701af54e9219548f","order":52,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"屏東","x":1530,"y":680,"wires":[]},{"id":"46d9498e0b1ef890","type":"function","z":"701af54e9219548f","name":"台東","func":"var aqi = msg.payload[60].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":720,"wires":[["aba731c37c374a37"]]},{"id":"aba731c37c374a37","type":"ui_led","z":"701af54e9219548f","order":48,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"台東","x":1530,"y":720,"wires":[]},{"id":"b08f7528618a4335","type":"function","z":"701af54e9219548f","name":"花蓮","func":"var aqi = msg.payload[61].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":760,"wires":[["ab29773c5a7ce5ea"]]},{"id":"ab29773c5a7ce5ea","type":"ui_led","z":"701af54e9219548f","order":36,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"花蓮","x":1530,"y":760,"wires":[]},{"id":"422e3398b05b2c4e","type":"function","z":"701af54e9219548f","name":"宜蘭","func":"var aqi = msg.payload[63].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":800,"wires":[["5e16455a77185e67"]]},{"id":"5e16455a77185e67","type":"ui_led","z":"701af54e9219548f","order":17,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"宜蘭","x":1530,"y":800,"wires":[]},{"id":"dede717c82793132","type":"function","z":"701af54e9219548f","name":"馬祖","func":"var aqi = msg.payload[71].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":840,"wires":[["669f52b020477be7"]]},{"id":"669f52b020477be7","type":"ui_led","z":"701af54e9219548f","order":2,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"馬祖","x":1530,"y":840,"wires":[]},{"id":"89da5d48eb6dec9b","type":"function","z":"701af54e9219548f","name":"金門","func":"var aqi = msg.payload[72].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":880,"wires":[["f16a9e20afca8707"]]},{"id":"f16a9e20afca8707","type":"ui_led","z":"701af54e9219548f","order":12,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"金門","x":1530,"y":880,"wires":[]},{"id":"352b5da54f0e1b8d","type":"function","z":"701af54e9219548f","name":"澎湖","func":"var aqi = msg.payload[73].AQI;\n\nif(aqi <= 50 )\n  msg.payload = 1;\nelse if (aqi > 50 && aqi <= 100)\n  msg.payload = 2;\nelse if (aqi > 100 )\n  msg.payload = 3;  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":920,"wires":[["b62ce8b8ef941a6d"]]},{"id":"b62ce8b8ef941a6d","type":"ui_led","z":"701af54e9219548f","order":32,"group":"a235940354fa2d89","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00f510","value":"1","valueType":"num"},{"color":"#f5f906","value":"2","valueType":"num"},{"color":"#fb2904","value":"3","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"澎湖","x":1530,"y":920,"wires":[]},{"id":"d3e0cc442e6d71fe","type":"http request","z":"701af54e9219548f","name":"抓取 AQI","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://opendata2.epa.gov.tw/AQI.json","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":600,"wires":[["73ab37380baed1e6"]]},{"id":"73ab37380baed1e6","type":"json","z":"701af54e9219548f","name":"json","property":"payload","action":"","pretty":true,"x":690,"y":600,"wires":[["3f02cf0734190e51","df9efde4c4879f89"]]},{"id":"3f02cf0734190e51","type":"function","z":"701af54e9219548f","name":"取出區域AQI","func":"\nmsg.aqi = Number(msg.payload[Number(context.global.Loc)].AQI) \ncontext.global.SiteName = msg.payload[Number(context.global.Loc)].SiteName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":600,"wires":[["64a1524d79f65b9c","78038723b27b3e2d","d22d92f5a49daa01"]]},{"id":"64a1524d79f65b9c","type":"debug","z":"701af54e9219548f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":600,"wires":[]},{"id":"8140b5642a5fbec7","type":"inject","z":"701af54e9219548f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":378,"y":600,"wires":[["d3e0cc442e6d71fe"]]},{"id":"78038723b27b3e2d","type":"switch","z":"701af54e9219548f","name":"AQI等級","property":"aqi","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"},{"t":"btwn","v":"51","vt":"num","v2":"100","v2t":"num"},{"t":"btwn","v":"101","vt":"num","v2":"150","v2t":"num"},{"t":"btwn","v":"151","vt":"num","v2":"200","v2t":"num"},{"t":"btwn","v":"201","vt":"num","v2":"300","v2t":"num"},{"t":"gt","v":"300","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":370,"y":760,"wires":[["1c91811084f89a1d"],["88510ddd70f4d9ec"],["50cc09ca9e5655db"],["a1764545529331f5"],["14b9ba93698fc969"],["203efee38eac983b"],[]]},{"id":"1c91811084f89a1d","type":"change","z":"701af54e9219548f","name":"AQI:良好","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"良好","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":660,"wires":[["d62f5b5ae4c2684e","7b4860f0b8edc162"]]},{"id":"88510ddd70f4d9ec","type":"change","z":"701af54e9219548f","name":"AQI:普通","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"普通","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["d62f5b5ae4c2684e","7b4860f0b8edc162"]]},{"id":"50cc09ca9e5655db","type":"change","z":"701af54e9219548f","name":"AQI:對敏感族群不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"對敏感族群不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":740,"wires":[["d62f5b5ae4c2684e","7b4860f0b8edc162"]]},{"id":"a1764545529331f5","type":"change","z":"701af54e9219548f","name":"AQI:對所有族群不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"對所有族群不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["d62f5b5ae4c2684e","7b4860f0b8edc162"]]},{"id":"14b9ba93698fc969","type":"change","z":"701af54e9219548f","name":"AQI:非常不健康","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"非常不健康","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":820,"wires":[["d62f5b5ae4c2684e","7b4860f0b8edc162"]]},{"id":"203efee38eac983b","type":"change","z":"701af54e9219548f","name":"AQI:危害","rules":[{"t":"set","p":"aqiStatus","pt":"msg","to":"危害","tot":"str"},{"t":"set","p":"day","pt":"msg","to":"$now('[Y0001]-[M01]-[D01]','+0800')\t","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"$now('[h01]:[m01]:[s01]','+0800')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":860,"wires":[["d62f5b5ae4c2684e","7b4860f0b8edc162"]]},{"id":"36853b87d2d5ba52","type":"debug","z":"701af54e9219548f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":700,"wires":[]},{"id":"d62f5b5ae4c2684e","type":"function","z":"701af54e9219548f","name":"訂定檔名與資料內容","func":"msg.filename = `AQI-${msg.day}.csv`\nmsg.payload = `${msg.time},${msg.aqi},${msg.aqiStatus}`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":740,"wires":[["36853b87d2d5ba52","0e1b10412fd4c3cb"]]},{"id":"0e1b10412fd4c3cb","type":"file","z":"701af54e9219548f","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"Big5","x":1030,"y":740,"wires":[[]]},{"id":"7b4860f0b8edc162","type":"function","z":"701af54e9219548f","name":"轉換 MQTT輸出資訊","func":"var n=context.global.SiteName;\nmsg.payload =  n +\" AQI:\" + msg.aqi + \"  \" + msg.aqiStatus\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":780,"wires":[["68ee0383381cd385","1e63d8a1dfbba2aa","80e09d6829fc8c94"]]},{"id":"68ee0383381cd385","type":"mqtt out","z":"701af54e9219548f","name":"","topic":"AQI_Num","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"0dc86f19d9b9701c","x":1040,"y":780,"wires":[]},{"id":"df9efde4c4879f89","type":"debug","z":"701af54e9219548f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":540,"wires":[]},{"id":"1e63d8a1dfbba2aa","type":"debug","z":"701af54e9219548f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":860,"wires":[]},{"id":"c3a4a43a3c3c0380","type":"mqtt in","z":"701af54e9219548f","name":"","topic":"AQI_Loc","qos":"0","datatype":"auto","broker":"0dc86f19d9b9701c","nl":false,"rap":false,"x":380,"y":540,"wires":[["b49ccde2fe80d5b0"]]},{"id":"b49ccde2fe80d5b0","type":"function","z":"701af54e9219548f","name":"","func":"context.global.Loc = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":540,"wires":[["d3e0cc442e6d71fe","ff9fcabb5d5ae903"]]},{"id":"ff9fcabb5d5ae903","type":"debug","z":"701af54e9219548f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":540,"wires":[]},{"id":"c17542661768bc6f","type":"ui_dropdown","z":"701af54e9219548f","name":"","label":"SelectCity","tooltip":"","place":"Select option","group":"a235940354fa2d89","order":21,"width":5,"height":2,"passthru":true,"multiple":false,"options":[{"label":"台北市","value":"10","type":"str"},{"label":"基隆","value":"0","type":"str"},{"label":"桃園","value":"17","type":"str"},{"label":"新竹","value":"23","type":"str"},{"label":"苗栗","value":"25","type":"str"},{"label":"台中","value":"27","type":"str"},{"label":"彰化","value":"32","type":"str"},{"label":"南投","value":"35","type":"str"},{"label":"雲林","value":"40","type":"str"},{"label":"嘉義","value":"41","type":"str"},{"label":"台南","value":"45","type":"str"},{"label":"高雄","value":"53","type":"str"},{"label":"恆春","value":"59","type":"str"},{"label":"宜蘭","value":"63","type":"str"},{"label":"花蓮","value":"61","type":"str"},{"label":"台東","value":"60","type":"str"},{"label":"馬祖","value":"71","type":"str"},{"label":"金門","value":"72","type":"str"},{"label":"澎湖馬公","value":"73","type":"str"}],"payload":"","topic":"","topicType":"str","className":"","x":380,"y":480,"wires":[["b49ccde2fe80d5b0"]]},{"id":"80e09d6829fc8c94","type":"ui_text","z":"701af54e9219548f","group":"a235940354fa2d89","order":19,"width":5,"height":1,"name":"","label":"單區AQI查詢:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1060,"y":820,"wires":[]},{"id":"384dd25943c687dc","type":"ui_template","z":"701af54e9219548f","group":"a235940354fa2d89","name":"AQI_LED","order":30,"width":5,"height":2,"format":"<style>\n.led {\n float: right;\n padding: 3px;\n width: 16px;\n height: 16px;\n margin: 4px 2px 8px 0px;\n border-radius: 0%;\n \n}\n</style>\n\n<h1 fill=lime></h1>\n\n<div>\n\n\n<span class=\"led\" style=\"background-color: {{msg.payload[9]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[9]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[8]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[8]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[7]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[7]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[6]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[6]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[5]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[5]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[4]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[4]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[3]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[3]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[2]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[2]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[1]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[1]}} 0 3px 15px;\"></span>\n<span class=\"led\" style=\"background-color: {{msg.payload[0]}}; box-shadow: black 0 -1px 1px 0px, inset black 0 -1px 4px, {{msg.payload[0]}} 0 3px 15px;\"></span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1180,"y":660,"wires":[[]]},{"id":"a7c924b8bd7a129b","type":"function","z":"701af54e9219548f","name":"check","func":"if (msg.payload > 150 ){\n    msg.payload = [\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\",\"#FF0000\"];\n    return msg;\n}\nelse if (msg.payload > 100 && msg.payload <= 150 ){\n    msg.payload = [\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\",\"#ffa500\"];\n    return msg;\n}else if (msg.payload > 50 && msg.payload <= 100 ){\n    msg.payload = [\"#FFFF00\",\"#FFFF00\",\"#FFFF00\"];\n    return msg;\n}else if (msg.payload <= 50){\n    msg.payload = [\"#00FF00\"];\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":660,"wires":[["384dd25943c687dc"]]},{"id":"d22d92f5a49daa01","type":"change","z":"701af54e9219548f","name":"Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"aqi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[["a7c924b8bd7a129b","5ec3a23e265d76cc"]]},{"id":"fd9370cc69abfe14","type":"ui_template","z":"701af54e9219548f","group":"3ca910b5.3d50a","name":"gauge-style","order":1,"width":0,"height":0,"format":"<style id=\"hotNipi-gauge\">\n:root{\n    --needle-color:#001100;\n    --sec-high-color:#ff00004f;\n    --sec-normal-color:#00ff004f;\n}\n.g-container {\n    padding-top: 3px;\n    padding-bottom: 3px;\n    width: 100%;\n    height: 100%;\n    position: relative;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    user-select:none;\n}\n    \n.g-body{\n    width:98%;\n    height:98%;\n    border-radius:15%;\n    position:relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n    box-shadow: 0px 5px 8px #00000045;\n    background:linear-gradient(0deg, rgba(78,78,78,1) 0%, rgba(215,215,215,1) 99%, rgba(236,236,236,1) 100%);\n}\n\n.g-body::before {    \n    content: \"\";\n    background-image: url(\"data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==\"); \n    background-repeat: repeat;\n    position: absolute;\n    top: 0px;\n    right: 0px;\n    bottom: 0px;\n    left: 0px;\n    opacity: 0.1;\n    border-radius:15%;\n}\n\n.g-ring{\n    width:90%;\n    height:90%;\n    border-radius:50%;\n    position:relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n   \n    background:linear-gradient(180deg, rgba(78,78,78,1) 0%, rgba(215,215,215,1) 99%, rgba(236,236,236,1) 100%);;\n}\n.g-plate {\n    overflow:hidden;\n    width: 90%;\n    height: 90%;\n    border-radius: 50%;\n    position: relative;\n    box-shadow: inset 0 0 15px black;\n    background: radial-gradient(circle, #dd8400 3%, rgb(196 205 209) 1%, rgb(177 183 186) 40%, rgb(108 114 120) 100%);\n}\n.g-sector{\n    width: 100%;\n    height: 100%;\n    position: absolute;\n    top: 50%;\n    left: 50%;\n   \n    transform-origin: 0 0;\n}\n.g-sector-high {\n    background: var(--sec-high-color);\n    transform: rotate(329deg) skew(12deg, 23deg);\n}\n.g-sector-normal {\n    background:var(--sec-normal-color);\n    transform: rotate(329deg) skew(12deg, 23deg);\n}\n.g-ticks {\n    position: absolute;\n    top:0;\n    left:0;\n    width: 100%;\n    height: 100%;\n    filter: drop-shadow(2px 4px 6px black);\n}\n.g-tick {\n    transform: rotate(calc(27deg * var(--ga-tick) - 71deg));\n    background: #000;\n    position: relative;\n    left: 0;\n    top: 50%;\n    width: 100%;\n    height: 1%;\n    margin-bottom: -1%;\n    background: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 2%,rgb(0 0 0 / 60%) 2%,rgb(0 0 0 / 60%) 10%,rgba(0,0,0,0) 10%);\n}\n.g-num {\n    position: absolute;\n}\n.g-nums {\n    position: absolute;\n    top:0;\n    width: 100%;\n    height: 100%;\n    color: #000000a1;\n    font-size: calc(var(--container-size) * 16%);\n    font-weight: 500;\n    filter: drop-shadow(2px 4px 6px black);\n}\n.g-needle {\n    transform: rotate(calc(270deg * calc(var(--g-angle, 0deg) / 99) - 45deg));\n    transition: transform 1s;\n    background: #000;\n    position: absolute;\n    left: 0;\n    top: 49%;\n    width: 100%;\n    height: 2%;\n    filter:drop-shadow(0px 1px 3px #00000080);\n    background: linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(110,0,0,0) 15%,var(--needle-color) 15%,var(--needle-color) 50%,rgba(110,0,0,0) 50%);\n}\n.g-needle-ring {\n    position: absolute;\n    width: calc(var(--container-size) * 1.5%);\n    height: calc(var(--container-size) * 1.5%);\n    top: 50%;\n    left: 50%;\n    background: var(--needle-color);\n    border-radius: 50%;\n    transform: translate(-50%, -50%);\n    box-shadow: 0 1px 4px #0000009c;\n}\n.g-val{\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    bottom: 8%;\n    width: 80px;\n    transform: translateX(-50%);\n    font-family: monospace;\n    font-size:  calc(var(--container-size) * 40%);\n    color: #ff0000;  // 數值顏色\n    filter: drop-shadow(2px 3px 2px #00000080);\n}\n.g-label{\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    top: 55%;\n    width: 100%;\n    transform: translateX(-50%);\n    font-family: monospace;\n    font-size:  calc(var(--container-size) * 40%);\n    color: #000080;   // label 顯示顏色\n    filter: drop-shadow(2px 3px 2px #00000080);\n}\n.g-rivets{\n    position: absolute;\n    left:0;\n    top:0;\n    width: 100%;\n    height: 100%;\n}\n\n.g-rivet {\n    position: absolute;\n    width: calc(var(--container-size) * 2px);\n    height: calc(var(--container-size) * 2px);\n    border-radius: 50px;\n    background: linear-gradient(135deg, #adadad 0%,#d3d3d3 51%,#d1d1d1 68%,#8c8c8c 100%);\n    box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0,0,0,0.2);\n    border: 1px solid rgba(255,255,255,0.1);\n}\n.g-rivet:nth-child(1){\n    top:calc(var(--container-size) * 1.5px);\n    left:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(2){\n    top:calc(var(--container-size) * 1.5px);\n    right:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(3){\n    bottom:calc(var(--container-size) * 1.5px);\n    left:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(4){\n    bottom:calc(var(--container-size) * 1.5px);\n    right:calc(var(--container-size) * 1.5px);\n}\n\n.g-rivet::before {\n    content: '';\n    position: absolute;\n    left: 50%;\n    top: 50%;\n    width: calc(var(--container-size) * 10%);\n    height: calc(var(--container-size) * 10%);\n    box-shadow: inset 0px 1px 2px #222;\n    transform: translate(-50%, -50%);\n    border-radius: 50%;\n    border-bottom: 1px solid rgba(255,255,255,0.3);\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":390,"y":410,"wires":[[]]},{"id":"5ec3a23e265d76cc","type":"ui_template","z":"701af54e9219548f","group":"a235940354fa2d89","name":"AQI_Gauge","order":41,"width":5,"height":5,"format":"<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"--g-angle:0; --container-size:4\">\n    <div id=\"bgr\" class=\"g-body\">\n        <div class=\"g-ring\">\n            <div class=\"g-plate\">\n                \n                <div class=\"g-ticks\">\n                    <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n\n                </div>\n                <div class=\"g-nums\">\n                    <div class=\"g-num\" style=\"left:24%; top:70%;\">0</div>\n                    <div class=\"g-num\" style=\"left:20%; top:26%;\">50</div>\n                    <div class=\"g-num\" style=\"left:47%; top:11%;\">100</div>\n                    <div class=\"g-num\" style=\"left:74%; top:26%;\">150</div>\n                    <div class=\"g-num\" style=\"left:65%; top:71%;\">200</div>\n                </div>\n                <div class=\"g-label\">AQI</div>\n                <div class=\"g-needle\"></div>\n                <div class=\"g-needle-ring\"></div>\n                <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n            </div>\n            <div class=\"g-rivets\">\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                </div>\n        </div>\n    </div>\n</div>\n<script>\n    (function(scope) {\n    let min = 0;\n    let max = 200;\n    scope.$watch('msg', function(msg) {\n        if (msg) {\n            const v = Math.floor(((msg.payload - min) / (max - min)) * 100);\n            document.getElementById('gauge_'+scope.$id).style.setProperty('--g-angle', v);\n            document.getElementById('gauge_val_'+scope.$id).innerText = msg.payload;\n        }   \n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1190,"y":740,"wires":[[]]},{"id":"1b793a970be872a3","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":1,"width":9,"height":1},{"id":"bb01aae32a62c857","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":3,"width":6,"height":1},{"id":"60567c2ac3143323","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":5,"width":2,"height":1},{"id":"3702554db658a4fe","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":7,"width":10,"height":1},{"id":"0badc78d0ee92628","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":8,"width":18,"height":1},{"id":"00135ad51451592f","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":10,"width":11,"height":1},{"id":"91ed149705b315d6","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":12,"width":14,"height":1},{"id":"2ade6cacb07a6bc0","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":14,"width":2,"height":1},{"id":"ecdb106d1608fae8","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":16,"width":5,"height":1},{"id":"10466737ec2e3411","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":18,"width":7,"height":1},{"id":"f538eebc7ec45583","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":20,"width":5,"height":1},{"id":"a136097295ca41ce","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":22,"width":9,"height":1},{"id":"e7262c5b014f273d","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":24,"width":13,"height":1},{"id":"5dfc9f982e5199bc","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":27,"width":10,"height":1},{"id":"3fb47f0fe65193e5","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":28,"width":25,"height":1},{"id":"a2de6f7afa1c7343","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":30,"width":13,"height":1},{"id":"bfe9729313d152cd","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":32,"width":1,"height":1},{"id":"1b40a7107585e094","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":34,"width":2,"height":1},{"id":"7ae8c0ca0991437b","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":36,"width":6,"height":1},{"id":"fd9d63e900a48797","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":37,"width":9,"height":1},{"id":"8900b6c6770a981b","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":39,"width":4,"height":1},{"id":"d87e2ca4e029fd08","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":41,"width":10,"height":1},{"id":"d2d0f2c0767f5c29","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":43,"width":13,"height":1},{"id":"a1426b69c3b3a5a6","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":45,"width":11,"height":1},{"id":"5909daae2982d813","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":46,"width":14,"height":1},{"id":"58a3e05778b7efd6","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":48,"width":10,"height":1},{"id":"ccd5b6d0910e24b2","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":49,"width":16,"height":1},{"id":"67fd6d2a7dd83724","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":51,"width":8,"height":1},{"id":"1c6242c81876e313","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":52,"width":14,"height":1},{"id":"9e7ddc0e0c35e119","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":54,"width":10,"height":1},{"id":"b73dcc0838214e4c","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"d7d53078.9580c","order":55,"width":30,"height":1},{"id":"065484956fd34d9c","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":1,"width":12,"height":1},{"id":"08488c7b7d3387b4","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":3,"width":7,"height":1},{"id":"cbb8016e34cd573b","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":6,"width":1,"height":1},{"id":"52c5d3c6db466412","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":8,"width":6,"height":1},{"id":"78f9db6b0dd98fa1","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":10,"width":28,"height":1},{"id":"0a3f2b5d2fb98512","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":11,"width":11,"height":1},{"id":"9c0f238ab6e17d57","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":13,"width":4,"height":1},{"id":"ea16233c44bea97d","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":16,"width":2,"height":1},{"id":"5a40fb60c99982f9","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":18,"width":2,"height":1},{"id":"dfc35e42e060fb81","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":20,"width":25,"height":1},{"id":"65a6902b899ea9cc","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":22,"width":17,"height":1},{"id":"e7a227e977926a8c","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":24,"width":7,"height":1},{"id":"f92a7773e1d8a727","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":25,"width":16,"height":1},{"id":"599cabba5848eaa0","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":27,"width":1,"height":1},{"id":"fa4cf82108c89dd0","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":29,"width":6,"height":1},{"id":"83a2c9093db4c517","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":31,"width":12,"height":1},{"id":"b5cc1643f94486ee","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":33,"width":3,"height":1},{"id":"e0d41ef252540cbb","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":35,"width":4,"height":1},{"id":"3c210b97612182d3","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":37,"width":3,"height":1},{"id":"e99509d83e9ef35a","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":38,"width":16,"height":1},{"id":"d922b48bbed91918","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":40,"width":8,"height":1},{"id":"e35eaa5695a26697","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":42,"width":16,"height":1},{"id":"0815fa13a48f64e7","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":44,"width":8,"height":1},{"id":"b009816478cabaad","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":45,"width":17,"height":1},{"id":"7e12425f7fd56d25","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":47,"width":1,"height":1},{"id":"9862dfb7996a08ce","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":49,"width":5,"height":1},{"id":"af6d4685f61c4218","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":50,"width":25,"height":1},{"id":"638725771da492b9","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":51,"width":17,"height":1},{"id":"8cbe030e90839f16","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":53,"width":7,"height":1},{"id":"d18165c73a3df8a2","type":"ui_spacer","z":"701af54e9219548f","name":"spacer","group":"a235940354fa2d89","order":54,"width":30,"height":1},{"id":"a235940354fa2d89","type":"ui_group","name":"Search","tab":"b1091ead5cf3f8f3","order":1,"disp":true,"width":30,"collapse":false,"className":""},{"id":"0dc86f19d9b9701c","type":"mqtt-broker","name":"EMQX","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ca910b5.3d50a","type":"ui_group","name":"Gauge","tab":"b1091ead5cf3f8f3","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"b1091ead5cf3f8f3","type":"ui_tab","name":"Taiwan_AQI_Data","icon":"fa-cogs","order":2,"disabled":false,"hidden":false}]